add RCDATA "src\\assets\\add.png"
blinds RCDATA "src\\assets\\blinds.png"
cancel RCDATA "src\\assets\\cancel.png"
config RCDATA "src\\assets\\config.png"
delete RCDATA "src\\assets\\delete.png"
edit RCDATA "src\\assets\\edit.png"
structure RCDATA "src\\assets\\estrutura.png"
dashboard RCDATA "src\\assets\\grafico.png"
logo RCDATA "src\\assets\\logo.png"
minus RCDATA "src\\assets\\menos.png"
menu RCDATA "src\\assets\\menu.png"
order RCDATA "src\\assets\\pedido.png"
players RCDATA "src\\assets\\players.png"
poker RCDATA "src\\assets\\poker.png"
logout RCDATA "src\\assets\\power-32.png"
stamp RCDATA "src\\assets\\selo.png"
submenu RCDATA "src\\assets\\submenu.png"
undo RCDATA "src\\assets\\undo.png"
user RCDATA "src\\assets\\user.png"
lobby RCDATA "src\\assets\\lobby.png"
tourney RCDATA "src\\assets\\torneio.png"
